@model MoviesCreateViewModel

<div class="row">
    <div class="col col-lg-5 border border-1 rounded rounded-2 mx-auto m-2 p-2">
        <form asp-controller="Movies" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate"></label>
                <input asp-for="ReleaseDate" class="form-control">
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId"></label>
                <select asp-for="CompanyId" asp-items="@Model.Companies" class="form-control"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActorIds"></label>
                <select asp-for="ActorIds" asp-items="@Model.Actors" class="form-control"></select>
                <span asp-validation-for="ActorIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorIds"></label>
                <select asp-for="DirectorIds" asp-items="@Model.Directors" class="form-control"></select>
                <span asp-validation-for="DirectorIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Save</button>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-warning mt-2">Cancel</a>
        </form>
    </div>
</div>

